h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1.5rem;
    text-align: left;
}

h2 {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    text-align: left;
}

p {
    text-align: left;
    padding: 0 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

ul {
    text-align: left;
    padding: 0 1.5rem;
    margin: 2rem 1rem;
    margin-top: 1rem;
}

a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

#basic-terms ul, #nsda-terms ul {
    list-style-type: none;
    margin: 0;
    padding: 0rem 1.5rem;
    text-align: left;
}

#basic-terms ul li:nth-child(odd), #nsda-terms ul li:nth-child(odd) {
    text-decoration: underline;
}

#basic-terms ul li:nth-child(even), #nsda-terms ul li:nth-child(even) {
    margin-bottom: 0.5rem;
}

#student-officers h2, #student-officers h3, #student-officers p {
    text-align: left;
    padding-left: 0rem;
    margin: 0rem;
}

#student-officers {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #00897B;
    color: #eceff1;
    padding: 1rem;
    margin: 1.25rem;
}

#student-officers div {
    margin: 0.5rem 0rem;
}

#word-doc {
    background-color: #b0bec5;
    color: #37474f;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

#word-doc a {
    text-decoration: none;
    font-weight: 500;
}

#handbook {
    display: grid;
    grid-template-columns: 100%;
}

#sidebar {
    display: none;
}

#sidebar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-top: 1.5rem;
    padding: 0;
    background-color: #b0bec5;
    text-align: center;
}

#sidebar > ul > li {
    max-width: 100%;
    padding: 0.75rem;
}

#sidebar > ul > li:hover {
    background-color: #b0bec5;
}

#sidebar > ul {
    background-color: #cfd8dc;
}

#sidebar a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 400;
}

.external-link {
    border-top: 1px solid #eceff1;
}

@media (min-width: 768px) {
    #handbook {
        grid-template-columns: 70% 30%;
    }

    #sidebar {
        display: inline-block;
    }

    #word-doc {
        display: none;
    }

    #student-officers {
        grid-template-columns: 1fr 1fr;
    }

    #student-officers > h2 {
        grid-column: 1 / 3;
    }
}

@media (min-width: 1366px) {
    #sidebar > ul > li:hover {
        background-color: #90a4ae;
    }

    #sidebar > ul {
        background-color: #b0bec5;
    }
}