#home {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

#left {
    border-bottom: 2px solid #cfd8dc;
}

#left, #right {
    padding: 1.5rem;
}

h1, h2, h3, p {
    text-align: left;
    margin: 0;
    padding: 0.25rem;
    padding-left: 0;
    line-height: 1.25;
}

#left a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

#left ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    padding-left: 0;
    text-align: left;
}

#coaches h2, #coaches h3, #coaches p {
    text-align: center;
}

#coaches {
    background-color: #00897B;
    color: #eceff1;
    padding: 1rem;
}

#links, .other-link {
    background-color: #cfd8dc;
    padding: 1rem;
    margin-top: 2rem;
    clear: both;
}

#links h2, .other-link h2 {
    padding: 0;
    padding-left: 1rem;
}

#links:hover, .other-link:hover {
    background-color: #b0bec5;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

#links li {
    margin: 1rem;
    text-align: left;
}

#links a, .other-link a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

@media (min-width: 768px) {
    #home {
        grid-template-columns: 1fr 1fr;
    }

    #left {
        border-bottom: none;
    }
}

@media (min-width: 1366px) {
    #links:hover, .other-link:hover {
        background-color: #90a4ae;
    }

    #links, .other-link {
        background-color: #b0bec5;
    }
}