html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #37474f;
}

body {
    margin: 0;
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: #eceff1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p, li {
    font-size: 1.1rem;
}

@media (min-width: 1366px) {
    body {
        max-width: 70%;
        left: 15%;
        background-color: #cfd8dc;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    }
  
    html {
        background-color: #eceff1;
    }
}

@media (min-width: 1920px) {
    body {
        max-width: 60%;
        left: 20%;
    }
}

@media (min-width: 2560px) {
    body {
        max-width: 50%;
        left: 25%;
    }
}