h1 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    padding: 0.25rem 1.5rem;
}

h2 {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    text-align: left;
}

p {
    text-align: left;
    padding: 0 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

ul {
    text-align: left;
    padding: 0 1.5rem;
    margin: 2rem 1rem;
    margin-top: 1rem;
}

a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

#booster-members {
    background-color: #00897B;
    color: #eceff1;
    padding: 0.5rem;
    margin: 1.25rem;
}

#booster-members h2, #booster-members h3, #booster-members p {
    text-align: center;
    padding: 0.1rem 0rem;
    margin: 0rem;
}

#external-links {
    background-color: #b0bec5;
    color: #37474f;
    margin: 1.5rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    text-align: center;
    list-style: none;
}

#external-links a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
}

#external-links li {
    margin: 1rem;
}

#parent-information {
    display: grid;
    grid-template-columns: 100%;
}

#sidebar {
    display: none;
}

#sidebar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    margin-top: 1.5rem;
    padding: 0;
    background-color: #b0bec5;
    text-align: center;
}

#sidebar > ul > li {
    max-width: 100%;
    padding: 0.75rem;
}

#sidebar > ul > li:hover {
    background-color: #b0bec5;
}

#sidebar > ul {
    background-color: #cfd8dc;
}

#sidebar a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 400;
}

.external-link {
    border-top: 1px solid #eceff1;
}

@media (min-width: 768px) {
    #parent-information {
        grid-template-columns: 70% 30%;
    }

    #sidebar {
        display: inline-block;
    }

    #external-links {
        display: none;
    }
}

@media (min-width: 1366px) {
    #sidebar > ul > li:hover {
        background-color: #90a4ae;
    }

    #sidebar > ul {
        background-color: #b0bec5;
    }
}