#pay h1 {
    margin: 0rem 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#pay > h2 {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    text-align: left;
}

#pay > p {
    text-align: left;
    padding: 0 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

#pay > ul, #pay > ol {
    text-align: left;
    padding: 0 1.5rem;
    margin: 2rem 1rem;
    margin-top: 1rem;
}

#pay a {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

#pay form {
    background-color: #00897B;
    color: #eceff1;
    padding: 1rem;
    margin: 1rem;
    text-align: left;
}

#annoying-image {
    text-align: left;
    padding: 1rem;
    padding-left: 0;
}